# Xcode / build
build/
build-release/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.moved-aside
.DS_Store

# Swift Package Manager
.swiftpm/
.build/

# Misc
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
